/* Styles for the Advanced Markup assignment. */
body{
  background-color: #ff5500; 
}
nav ul li {
  display: inline;
  background-color: #555555;
  padding: 1px;
  border-radius: 50%
}
header {
  border: double;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  width: 250px;
  padding: 35px;
  background-color: lightcyan;
}
a:link{
  color: red;
}
a:visited {
  color: goldenrod;
}
a:hover {
  color: purple;
}
a:active {
  color: blue;
}
.poem {
  list-style-type:none;
}
#content {
  background-color: lightgreen;
  width: 500px;
  margin: auto;
  padding: 10px;
  border-style: groove;
  border-style: double;
  border-width: thick;
  font-family: Arial;
  font-style: oblique;
  line-height: 1.7rem;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 2px 2px #FF0000;
} 
#content:hover {
  background-color: #b7843d;
}
#sidebar {
  width: 250px;
  padding: 50px;
  float: right;
  border-radius: 25px;
  background-color: lightblue;
  box-shadow: 20px 20px 15px grey;
  margin-right: 12px;
}
.bio-photo{
  float:left;
  padding: 15px;
  width: 250px;
  text-shadow: none;
  color: #816f61;
